<footer id="footer" class="footer wf-section">
  <div class="footer-flex-container">
    <a href="#" class="footer-logo-link"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="footer-image"></a>
    <div>
      <h2 class="footer-heading">Heading Label</h2>
      <ul role="list" class="w-list-unstyled">
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="footer-heading">Heading Label</h2>
      <ul role="list" class="w-list-unstyled">
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
      </ul>
    </div>
    <div>
      <h2 class="footer-heading">Heading Label</h2>
      <ul role="list" class="w-list-unstyled">
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
        <li>
          <a href="#" class="footer-link">Text Link</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-block">Copyright © 2020 My Company. All rights reserved.</div>
</footer>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=610f7e1651a74a6581b71c82" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="/js/webflow.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>