<a href="create-post.html"><div class="floating-btn"></div></a> 
<div id="mobile-menu" class="mobile-modal">
  <a onclick="closeModalMenu()" href="#" class="mobile-menu-close"></a>
  <a href="index.html" class="mobile-link">HOME</a>
  <a href="#" class="mobile-link">TOPICS</a>
  <a href="#" class="mobile-link">SERIES</a>
  <a href="index.html" class="mobile-link">DISCUSSIONS</a>
  <a href="#" class="mobile-link">PODCASTS</a>
  <a href="profile-page.html" class="mobile-link">PROFILE</a>
  <a href="settings.html" class="mobile-link">SETTINGS</a>
  <a href="register.html" class="primary-btn">SIGN IN / REGISTER</a>
</div>
<div class="blog-header">
  <div class="nav-col-1">
    <div class="logo-text">LOGO</div>
  </div>
  <div class="nav-col-2">
    <a href="#" class="nav-col-2-links">TOPICS</a>
    <a href="#" class="nav-col-2-links">SERIES</a>
    <a href="index.html" aria-current="page" class="nav-col-2-links nav-links-active w--current">DISCUSSIONS</a>
    <a href="#" class="nav-col-2-links">PODCAST</a>
  </div>
  <div class="nav-col-3">
    <a href="login.html" class="nav-col-3-links">SIGN IN</a>
    <a href="register.html" class="nav-outlined-btn">REGISTER</a>
    <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
      <div class="dropdown-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div class="user-dropdown"></div>
      </div>
      <nav class="nav-dropdown-list w-dropdown-list">
        <a href="profile-page.html" class="nav-drop-link w-dropdown-link">Profile</a>
        <a href="settings.html" class="nav-drop-link w-dropdown-link">Settings</a>
        <a href="#" class="nav-drop-link w-dropdown-link">Logout</a>
      </nav>
    </div>
  </div>
</div>
<div class="blog-header mobile">
  <div class="nav-col-1">
    <div class="logo-text">LOGO</div>
  </div>
  <div class="nav-col-3">
    <a onclick="openModalMenu()" href="#" class="menu-icon"></a>
  </div>
</div>