<%- include('./layouts/partials/head')  %> 
<body class="blog-body">
  <%- include('./layouts/partials/nav')  %> 
  <div class="blog-content-row">
    <div class="content-col-1">
      <a href="create-post.html" class="primary-btn">New Discussion</a>
      <a href="#" class="side-menu-links side-menu-active">All Threads</a>
      <a href="#" class="side-menu-links">Popular This Week</a>
      <a href="#" class="side-menu-links">Solved</a>
      <a href="#" class="side-menu-links">Unsolved</a>
      <a href="#" class="side-menu-links">Leaderboard</a>
    </div>
    <div class="content-col-2">
      <div class="content-col-2-actions">
        <div class="actions-col-1">
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="get"><input type="text" class="search-field w-input" maxlength="256" name="name" data-name="Name" placeholder="Search for something..." id="name"></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
        <div class="actions-col-2">
          <div class="form-block w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get"><select id="Filter" name="Filter" data-name="Filter" class="select-field w-select">
                <option value="">Latest</option>
                <option value="First">Popular this week</option>
                <option value="Second">Solved</option>
                <option value="Third">Unsolved</option>
              </select></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div class="form-block w-form">
            <form id="email-form-2" name="email-form-2" data-name="Email Form 2" method="get"><select id="Topics" name="Topics" data-name="Topics" class="select-field w-select">
                <option value="">All</option>
                <option value="First">First choice</option>
                <option value="Second">Second choice</option>
                <option value="Third">Third choice</option>
              </select></form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="image-box"><img src="images/Mask-Group.png" loading="lazy" width="52" alt=""></div>
        <div class="blog-details">
          <div class="card-actions">
            <div>
              <a href="post-page.html" class="card-header">Best Options for Site-wide Search in Laravel?</a>
            </div>
            <div>
              <a href="#" class="nav-outlined-btn tag">Laravel</a>
            </div>
          </div>
          <div class="card-paragraph">I need to offer search across numerous models (i.e. site-wide). I&#x27;d love to use Laravel Scout, but I&#x27;m open to other solutions. Algolia supports &amp;quot;aggregators&amp;quot;, which appears...</div>
          <div class="card-actions">
            <div>
              <div class="action-text">POSTED BY: JACOB | 2 days ago</div>
            </div>
            <div class="div-block">
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="image-box"><img src="images/Mask-Group.png" loading="lazy" width="52" alt=""></div>
        <div class="blog-details">
          <div class="card-actions">
            <div>
              <a href="post-page.html" class="card-header">Best Options for Site-wide Search in Laravel?</a>
            </div>
            <div>
              <a href="#" class="nav-outlined-btn tag _2">Laravel</a>
            </div>
          </div>
          <div class="card-paragraph">I need to offer search across numerous models (i.e. site-wide). I&#x27;d love to use Laravel Scout, but I&#x27;m open to other solutions. Algolia supports &amp;quot;aggregators&amp;quot;, which appears...</div>
          <div class="card-actions">
            <div>
              <div class="action-text">POSTED BY: JACOB | 2 days ago</div>
            </div>
            <div class="div-block">
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="image-box"><img src="images/Mask-Group.png" loading="lazy" width="52" alt=""></div>
        <div class="blog-details">
          <div class="card-actions">
            <div>
              <a href="post-page.html" class="card-header">Best Options for Site-wide Search in Laravel?</a>
            </div>
            <div>
              <a href="#" class="nav-outlined-btn tag _3">Laravel</a>
            </div>
          </div>
          <div class="card-paragraph">I need to offer search across numerous models (i.e. site-wide). I&#x27;d love to use Laravel Scout, but I&#x27;m open to other solutions. Algolia supports &amp;quot;aggregators&amp;quot;, which appears...</div>
          <div class="card-actions">
            <div>
              <div class="action-text">POSTED BY: JACOB | 2 days ago</div>
            </div>
            <div class="div-block">
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog-card">
        <div class="image-box"><img src="images/Mask-Group.png" loading="lazy" width="52" alt=""></div>
        <div class="blog-details">
          <div class="card-actions">
            <div>
              <a href="post-page.html" class="card-header">Best Options for Site-wide Search in Laravel?</a>
            </div>
            <div>
              <a href="#" class="nav-outlined-btn tag">Laravel</a>
            </div>
          </div>
          <div class="card-paragraph">I need to offer search across numerous models (i.e. site-wide). I&#x27;d love to use Laravel Scout, but I&#x27;m open to other solutions. Algolia supports &amp;quot;aggregators&amp;quot;, which appears...</div>
          <div class="card-actions">
            <div>
              <div class="action-text">POSTED BY: JACOB | 2 days ago</div>
            </div>
            <div class="div-block">
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
              <div class="action-text icon-text"> <span class="app-icons"></span> 200</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layouts/partials/sidebar')  %> 
  </div>
  <%- include('./layouts/partials/footer')  %> 